<script type="text/javascript" src="http://platform.linkedin.com/in.js">
  api_key: cheq81slu4pe
   onLoad: onLinkedInLoad
  authorize: true
</script>


<script>
            
             

    var url = "/companies/1337:(id,name,ticker,description,specialties ,size,status,industries)";
     IN.API.Raw(url).result(function(response)
                        {
                    
                    alert(response.id+" ,"+ response.specialties.values[0] + ", " + response.industries.values[0].name);
});
  
 function ModifyText()
  {
 var textEntered= document.getElementById("inputCompanyText").value;
            var url = "/companies/universal-name=" + encodeURIComponent(textEntered);            
      var res=   IN.API.Raw(url).result(function(response)
                        {

                    var id = response.id;
                    var el = document.getElementById("LIButtonContainer")
el.innerHTML = '<script type="IN/CompanyInsider" data-id="' + id + '" data-modules="innetwork,newhires,jobchanges">';
                    IN.parse(el);
                  })
      .error(function()
      { 
    alert("not found");
  });
 
}

function Search(){

  alert("Search Called!");

}

$(document).ready(function(){
 var el = document.getElementById("companyButton");
 el.addEventListener("click",ModifyText,false);
            });

  $('#inputCompanyText').keyup(function (e) {
    if (e.keyCode == 13) { // enter
        alert("enter pressed!");
        e.stopPropagation();
        return false; //this will stop the default event triggering 
    }
});
            
</script>

<div class="row">

  <div class="column large-5">
  <p>This is a simple login button. When the user has logged in, the code inside of the script will be run.</p>
  <script type="IN/Login">
    Hello, <?js= firstName ?> <?js= lastName ?>.
  </script>
  <p>Inline Company Profile(Inline)</p>
  <p> inside of a text block.</p>
  <p>This example demonstrates how to put the company profile</p>
  </div>


  <div class="column large-5">
  <!-- <script type="IN/CompanyProfile" data-id="PTCL" data-format="inline"></script> -->
  <script type="IN/CompanyProfile" data-id="1345705" data-format="inline"></script>
  </div>
</div>

<div class="mainDivClass">
  <form > 
    <label>Company Name:</label>
    <input type="text" id="inputCompanyText" onKeydown="Javascript: if (event.keyCode==13) event.preventDefault();"/>
<input id="companyButton" type="button" value="submit"></input>
  </form>
</div>



    <div id="LIButtonContainer"></div>